:root {
    --main-color: #596D48;
}

body {
    display: flex;
    background: #F9FAFB;
}

.header {
    padding: 2rem;
    font-weight: 600;
    font-size: 18px;
}

.header span {
    font-style: italic;
}

.form {
    background-color: white;
    box-shadow: 0px 5px 5px #DEDEDF;
    padding: 2rem;
}

.form > p {
    font-size: 18px;
    font-weight: 600;
}

img {
    width: 550px;
    height: auto;
}

button {
    background: var(--main-color);
    border-radius: none;
    box-shadow: none;
    border: none;
    font: inherit;
    color: white;
}

.footer {
    padding: 2rem;
}

a {
    color: var(--main-color);
    font-weight: 600;
}